<html>
  <head>
    
    <link href = "public/css/css.css" type = "text/css" rel = "stylesheet">
    
    
  </head>
  
  <body>
    <div class =  "link-container">
      <a href = "/">Home</a>
      <a href = "/profile">Profile</a>
      <a href = "/myRequests">Requests<% if (user.requestsRecieved.length) { %> <span class = "requestNotification"><%=user.requestsRecieved.length%></span><% } %></a>
      <a href = "/logout">Logout</a>
    </div>
    
    <div class = "search-container" id = "search-container">
        <form id = "bookSearch" class = "searchForm" action = "">
            <input type = "text" class = "search" id = "bookSearchBar" placeholder = "Input book title">
            <input type = "image" class = "searchLogo" src = '/public/images/magnifier.png'>
        </form>
    </div>
    
    <div class = 'main-book-container' id = 'mainContainer'>

    </div>
    
    
    
    
    
    <script type = 'text/javascript' src = '/ajax/requests.js'></script>
    <script type = 'text/javascript' src = '/controllers/bookSearchController.js'></script>
    
  </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</html>