<html>
  <head>
    
    <link href = "public/css/css.css" type = "text/css" rel = "stylesheet">
    
    
  </head>
  
  <body>
    <div class =  "link-container">
    <% if (user) { %>
      <a href = "/profile">Profile</a>
      <a href = "/logout">Logout</a>
    <% } else { %>
      <a href = "/login">Login</a>
    <% } %>
    </div>
    
    <div class = "search-error-container" id = "search-error-container">
      <p id = "error" class = "error"></p>
    <div class = "search-container" id = "search-container">
        <form id = "bookSearch" action = "">
            <input type = "text" class = "search" id = "bookSearchBar" placeholder = "Input book title">
            <input type = "image" class = "searchLogo" src = '/public/images/magnifier.png'>
        </form>
    </div>
    </div>
    
    <div class = 'main-book-container' id = 'mainContainer'>
          <div id = 'ownedBooks' class = "owned-books-container"></div>
          <div id = 'pagination' class = 'pagination'></div>
    </div>
    
    
    
    
    
    <script type = 'text/javascript' src = '/ajax/requests.js'></script>
    <script type = 'text/javascript' src = '/controllers/bookSearchController.js'></script>
    
  </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</html>