<html>
  <head>
    
    <link href = "/public/css/css.css" type = "text/css" rel = "stylesheet">
    
  </head>
  
  <body>
    <div class =  "link-container">
      <a href = "/">Home</a>
      <a href = "/profile">Profile</a>
      <a href = "/findbooks">Find Books</a>
      <a href = "/logout">Logout</a>
    </div>

    <div class = "myRequests">
    <div class = 'textCenter' id = 'noWrapRecieved'>
    <p class = 'requestTextHeader'>Your pending requests:</p>
    <div class = "myRequest-button-container" id = "recievedButtonContainer"></div>
    </div>
    <div class = 'textCenter' id = 'noWrapSent'>
    <p class = 'requestTextHeader'>Your outgoing requests:</p>
    <div class = "myRequest-button-container" id = "sentButtonContainer"></div>
    </div>
    <div class = 'my-request-container' id = "myRequestDiv"></div>
    </div>


    
    <script type = 'text/javascript' src = '/ajax/requests.js'></script>
    <script type = 'text/javascript' src = '/controllers/myRequestsController.js'></script>
    
    
  </body>
  </html>