<html>
  <head>
    
    <link href = "/public/css/css.css" type = "text/css" rel = "stylesheet">
    
  </head>
  
  <body>
    <div class =  "link-container">
      <a href = "/profile">Profile</a>
      <a href = "/logout">Logout</a>
    </div>


    <div class = 'my-request-container' id = "myRequestDiv">

    </div>

    
    <script type = 'text/javascript' src = '/ajax/requests.js'></script>
    <script type = 'text/javascript' src = '/controllers/myRequestsController.js'></script>
    
    
  </body>
  </html>