<html>
  <head>
    
    <link href = "/public/css/css.css" type = "text/css" rel = "stylesheet">
    
  </head>
  
  <body>
    <div class =  "link-container">
      <a href = "/profile">Profile</a>
      <a href = "/logout">Logout</a>
    </div>


    <div class = 'main-request-container' id = "mainRequestDiv">

    </div>


    <script>
    var reciever = <%- reciever %>
    var requester = <%- requester %>
    </script>
    
    <script type = 'text/javascript' src = '/ajax/requests.js'></script>
    <script type = 'text/javascript' src = '/controllers/requestController.js'></script>
    
    
  </body>
  </html>
  