<html>
  <head>
    
    <link href = "/public/css/css.css" type = "text/css" rel = "stylesheet">
    
  </head>
  
  <body>
    <div class =  "link-container">
      <a href = "/">Home</a>
      <a href = "/profile">Profile</a>
      <a href = "/findbooks">Find Books</a>
      <a href = "/myRequests">Requests<% if (userRequests.length) { %> <span class = "requestNotification"><%=userRequests.length%></span><% } %></a>
      <a href = "/logout">Logout</a>
    </div>

    <div class = 'requestPageDiv'>
    <p class="boldText"> Instructions: Click books to add them to your request, and click the submit button when done. </p>
    <div class = 'main-request-container' id = "mainRequestDiv"></div>
    </div>


    <script>
    var reciever = <%- reciever %>
    var requester = <%- requester %>
    </script>
    
    <script type = 'text/javascript' src = '/ajax/requests.js'></script>
    <script type = 'text/javascript' src = '/controllers/requestController.js'></script>
    
    
  </body>
  </html>
  