<html>
  <head>
    
    <link href = "public/css/css.css" type = "text/css" rel = "stylesheet">
    
    
  </head>
  
  <body>
    <div class =  "link-container">
      <a href = "/">Home</a>
      <a href = "/logout">Logout</a>
    </div>

    <p> you must choose a username to trade books!</p>

    <form id = "Username" action = "">
      <input type = "text" id = "usernameValue" class = "usernameValue" placeholder="Enter username here...">
    </form>



    <script type = 'text/javascript' src = '/ajax/requests.js'></script>
    <script type = 'text/javascript' src = '/controllers/usernameController.js'></script>
    
    
    
    
  </body>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</html>