body {
    background-color: darkslategray;
}
.login-container {
    width: 270px;
    margin: 10% auto 10% auto;
    background-color: dimgray;
    border-radius: 10px;
    padding: 5px;
}
.loginbutton {
    margin: 10px auto 10px auto;
    width: 250px;
    height: 42px;
    border-radius: 10px;
    position: relative;
}
.loginbutton-github {
    background-color: black;
}
.loginbutton-github .logo{
    background-color: white;
}
.loginbutton-google {
    background-color: #4285F4;
}
.loginbutton-google .logo{
    background-color: #FFFFFF;
}
.loginbutton-twitter {
    background-color: #00aced;
}
.loginbutton-twitter .logo{
    background-color: #c0deed;
}
.loginbutton-facebook {
    background-color: #3b5998;
}
.loginbutton-facebook .logo{
    background-color: #8b9dc3;
}
.logo {
    height: 32px;
    width: 32px;
    padding: 5px;
    border-radius: 10px 0 0 10px;
}
.loginbutton a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 10px;
}
.loginbutton p {
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    top: -5px;
    left: 15px;
    display: inline-block;
    text-align: center;
}





.profile p {
    text-align: center;
}
.profile-container {
    width: 350px;
    margin: 5% auto 0px auto;
    background-color: dimgray;
    border-radius: 10px;
    padding: 5px;
}
.profile {
    width: 300px;
    background-color: #80b3b3;
    border-radius: 10px;
    margin: 10px auto 10px auto;
    padding: 5px;  
}
.profile-heading {
    font-weight: 700;
}
.profile-book-container {
    border: 5px solid white;
    display: none;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 10px auto 10px auto;
}
.bookShowText {
    color: white;
    text-align: center;
    font-size:20px;
    width: 300px;
    margin: 10px auto 0 auto;
}
.bookShow {
    text-align: center;
    display: inline-block;
}
.bookShow:hover .profile-book-container {
    display: inline-flex;
}



.link-container {
    text-align: center;
    background-color: dimgray;
    position: fixed;
    padding: 5px;
    border-radius: 10px;
    top:0px;
    left: 0;
    right: 0;
    margin: 0 auto 10px auto;
}
.link-container a{
    color: #80b3b3;
    display: inline-block;
    background-color: black;
    padding: 10px;
    width: 100px;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto 0 auto;
}
.search, .usernameValue {
    width: 300px;
    height: 50px;
    padding: 5px;
    border: 5px solid #80b3b3;
    margin: 10px 0 10px 0;
    border-radius: 15px
}
.searchLogo {
    width: 50px;
    height: 50px;
    float: right;
    border: 5px solid #80b3b3;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 10px 0 10px 10px;
}
.searchForm {
    margin: 0;
}
.search-error-container {
    margin: 5% auto 0 auto;
}
.main-book-container {
    width: 80%;
    margin: 10px auto 0 auto;
    text-align: center;
}
.book-container, .owned-books-container {
    border-radius: 50px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
}
.book-container {
    background-color: #80b3b3;;
}
.owned-books-container {
    background-color: #70db70;
}
.bookDiv, .notOwnedBookDiv {
    margin: 10px;
    display: flex;
    border: 5px solid black;
}
.bookImage, .notOwnedBookImage{
    width:250px;
    height: 250px;
}
.notOwnedBookImage {
    opacity: .5;
}
.tooltip, .notOwnedToolTip{
    visibility: hidden;
    width: 240px;
    height: 240px;
    color: white;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.tooltip {
    background-color: black;
}
.notOwnedToolTip {
    background-color: red;
}
.bookdiv:hover .tooltip {
    visibility: visible;
}
.notOwnedBookDiv:hover .notOwnedToolTip {
    visibility: visible;
}
.pagination {
    display: inline-flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 10px auto 10px auto;
    background-color: dimgray;
}
.paginationLink {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 5px solid black;
    margin: 10px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80b3b3;
}
.paginationLinkCurrent {
    color: red;
    background-color: white;
}
.requestee, .requester, .requesteeDrag, .requesterDrag {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: nowrap;
}
.requesteeDrag, .requesterDrag {
    border: 5px solid white;
    min-height: 250px;
    border-radius: 25px;
}
.requestPageDiv {
    margin: 5% auto 5% auto;
    width: 90%;
    text-align: center;
}
.main-request-container {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.requestTitle {
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0;
}
.myRequests {
    width: 80%;
    margin: 5% auto 5% auto;
}
.myRequest-button-container {
    display: inline-flex;
    max-width: 560px;
    flex-flow:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
    border: 5px solid black;
    padding: 5px;
    background-color: #80b3b3;
}
.requestNameButton {
    width: 100px;
    height: 50px;
    padding: 10px;
    white-space: nowrap;
    margin: 5px;
}
.request {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    margin: 10px auto 10px auto;
    justify-content: center;
    align-items: center;
}
.recieverDivHolder, .requesterDivHolder, .bookShowHolder {
    text-align: center;
}
.requesterDiv, .recieverDiv {
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border: 5px solid #80b3b3;
}
.title {
    color: white;
    margin: 5% 0 0 0;
    text-align: center;
}
.index-book-container {
    margin: 10px auto 5% auto;
    width: 80%;
    text-align: center;
}
.myRequestsBigText {
    color: white;
    font-size: 30px;
    margin: 10px 0 10px 0;
    font-weight: 600;
}
.acceptButton, .declineButton, .requestSubmit {
    color: white;
    padding: 15px;
    border-radius: 15px;
    border: 5px solid black;
    margin: 10px;
}
.declineButton {
    background-color: red;
}
.acceptButton, .requestSubmit{
    background-color: green;
}
.requestSubmit {
    font-size: 20px;
}
.requestForm {
    margin: 0 auto 0 auto;
}
.textCenter {
    text-align: center;
}
.boldText, .boldTextColor{
    font-weight: 700;
    font-size:20px;
}
.boldTextColor {
    color: white;
}
.requestTextHeader {
    font-size: 24px;
    color: white;
    margin: 0;
}
.status {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.userLink, .userLink:visited {
    color: black;
}
.localUsernameProfile {
    text-align: center;
}
.username-container {
    margin: 10% auto 10% auto;
    width: 80%;
    text-align: center;
}
.requestNotification {
    color: red;
    font-weight: 700;
}
